{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ path('admin_settings_users') }}">Users</a>
        </div>
    </div>
{% endblock %}
