<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | BETA</title>
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block body_id %}{% endblock %}">
        <div class="container-fluid">
            {{ include('default/_flash_messages.html.twig') }}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
